<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>李论的简介</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body style="min-width:960px">
	<section id="block-firstPage">
		<p class="blockTitle">Hi ! It's me!</p>
		<div id="fstPage-down"><a href="#block-intro" hideFocus="true"></a></div>
	</section>
	<section id="block-nav">
		<header class="container">
			<a class="fl" href="#block-firstPage" id="logo" hideFocus="true">李论</a>
			<nav class="fr">
				<a href="#block-intro" id="nav-intro" hideFocus="true">个人简介</a>
				<a href="#block-skill" id="nav-skill" hideFocus="true">专业技能</a>
				<a href="#block-workEXP" id="nav-workEXP" hideFocus="true">工作经历</a>
				<a href="#block-prjEXP1" id="nav-prjEXP1" hideFocus="true">项目经验</a>
				<a href="#block-prjEXP2" id="nav-prjEXP2" hideFocus="true">获奖情况</a>
				<a href="#block-wantMore" id="nav-wantMore" hideFocus="true">联系邮箱</a>
				<a href="file/个人简历-李论.docx" id="nav-wantMore" hideFocus="true">word简历下载</a>
			</nav>
		</header>
	</section>

	<section id="block-intro">
		<div class="container">
			<div id="intro-icon">
				<img id="myPhoto" src="img/lilun2.jpg">
			</div>
			
			<div id="intro-text">
				<ul class="fl">
					<li><span>姓名</span> | 李论 - monokeros lun</li>
					<li><span>手机</span> | 13371666826</li>
					<li><span>邮箱</span> | <a href="mailto:lun2baobao@bupt.edu.cn" hidefocus="true">lun2baobao@bupt.edu.cn</a>
						<li><span>学校</span> | 北京邮电大学</li>
						<li><span>学历</span> | 硕士</li>
						<li><span>政治面貌</span> | 党员</li>
					<li><span>家乡</span> | 北京</li>
					<li><span>GitHub</span> | <a href="http://github.com/monokeroslun/" target="_blank" hideFocus="true">点击进入</a> </li>
					<li><span>Blog</span> | <a href="http://blog.monokeroslun.xyz" target="_blank" hideFocus="true">点击进入</a></li>
					<li><span>爱好</span> | 声乐八级 钢琴 绘画</li>
				</ul>
				<div class="fr">
					<p>我是一个特别喜欢技术的极客妹子<br>
每天的大部分时间都是在写代码
					<br>完成任务从不拖延，是项目的负责人，并且喜欢深究其原理</p>
					<p>本科游走于matlab、c中间，大四初保研后，有充足的时间开始做项目。至今三年开发经验。熟悉 HTML、CSS、熟练使用Javascript并探究其性能和机制，能熟练开发符合 W3C 标准的页面，使用过jQuery 框架、react框架。
						有良好的编码习惯。
</p>
						<p>
						有 Linux 基础，对服务器端开发有一定了解，能够熟练使用nodejs进行服务器端开发，熟练使用koa框架，对nodejs的原理机制有一定的了解，融洽的配合程序员完成相关工作。<br>
						使用java编写过服务器端程序，熟悉面向对象的设计模式。
					</p>
				</div>
			</div>


		</div>
	</section>

	<section id="block-skill">
		<div class="container">
			<div class="skill-title">
				<h2>专 业 技 能</h2>
			</div>
			<div class="skills">
				<ul class="skill-lang">
					<li>语言</li>
					<li>Javascript(很熟练)</li>
					<li>HTML(5)(熟练)</li>
					<li>CSS(3)(熟练)</li>				
					<li>java(会写)</li>
					<li>Go(会写)</li>
					<li>SQL(写过)</li>
					<li>C/C++(写过)</li>
				</ul>
				<ul class="skill-idea">
					<li>思想</li>
					<li>W3C标准</li>
					<li>语义化</li>
					<li>表现与结构分离</li>
					<li>响应式设计</li>
					<li>函数式编程</li>
					<li>异步编程</li>
					<li>面向对象</li>
				</ul>
				<ul class="skill-frame">
					<li>框架</li>
					<li>koa(nodejs框架)</li>
					<li>socketio</li>
					<li>socketCluster</li>
					<li>reactjs</li>
					<li>jQuery</li>
					<li>browserify</li>
				</ul>
				<ul class="skill-tech">
					<li>技术</li>
					<li>Git</li>
					<li>服务器推</li>
					<li>NodeJs(该环境下编程)</li>
					<li>IoJs(该环境下编程)</li>
					<li>MongoDb</li>
					<li>Redis</li>
					<li>Linux</li>
					<li>Matlab</li>
				</ul>
			</div>
		</div>
	</section>

	<section id="block-workEXP">
		<div class="container">
			<div class="work-title">
				<h2>工 作 经 历</h2>
			</div>
			<div class="workEXP-main">
				<ul class="timebox">
					<li class="time0">2014.07 - Now</li>
				</ul>
				<div class="timeline"></div>
				<ul class="workbox">
					<li class="work-intro0" style="line-height:2;">
						<label class="work-place">节操精选技术实习生</label>
						<label class="work-position">前端及后端（nodejs）工程师</label>
						<label class="work-do">负责网站前端界面实现；负责后端（nodejs）（部分页面的渲染、路由转发、及一些功能实现，如微信登陆等）、与设计和java后端交涉、讨论及分析需求、流程、可行性评估等</label>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="block-prjEXP" id="block-prjEXP1">
		<div class="container">
			<div class="prjEXP-title">
				<h2>项 目 经 验</h2>
			</div>
			<ul class="prjs">
				<li class="prj" id="prj-helpmechoose">
				<div class="confi">
					<h3 class="prj-title">消息推送系统</h3>
					<p class="prj-intro"> mimo-node是一个云端即时消息推送系统，通过该系统提供的消息推送服务。使用的主要技术是nodejs,框架为socketio及koa。</p>
					</div>
				</li>
     
				<li class="prj" id="prj-navFixed">
			<div class="confi">
					<h3 class="prj-title">节操精选图文审核系统</h3>
					<p class="prj-intro">为节操精选用于审核ugc(user generate content)用户上传图文所开发的系统，使用nodejs为后端，前端使用的是reactjs框架，支持微信登陆，主要工作是后端及部分前端页面</p>
					</div>
				</li>

				<li class="prj" id="prj-integralSystem">
				<div class="confi">
					<h3 class="prj-title">节操精选数据统计平台</h3>
					<p class="prj-intro">节操精选点击量、日活跃度等数据统计平台，为运营部门服务，使用nodejs为后端，前端使用d3和reactjs库。</p>
					</div>
				</li>
				<li class="prj" id="prj-helpmechoose">
				<div class="confi">
					<h3 class="prj-title">节操精选分享页</h3>
					<p class="prj-intro">节操精选分享页为节操精选分享到微信，手机web平台的文章页面。主要工作为前端的弹幕部分和后端（包括部分静态页面的缓存等）<a href="http://news.jiecao.fm/client/article/detail.htm?id=9e3PE7jz&u=BPD1DA8r&down=true&v=3.0.1#rd" target="_blank" style="color:green;">效果见这里</a> </p>
					</div>
				</li>
					<li class="prj">
				<div class="confi">
					<h3 class="prj-title">颈椎操游戏</h3>
					<p class="prj-intro">黑客马拉松的时候做的一个原型，一个通过电脑摄像头识别的体感游戏，跟着音乐摇头接水果得分，从而活动了颈椎。具体效果看这里，face++识别api最近改版，更新中，用chrome打开哦<a style="color:green;" href="http://neckgame.monokeroslun.xyz" target="_blank">效果看这里</a></p>
					</div>
				</li>
				<li class="prj" id="prj-navFixed">
				<div class="confi">
					<h3 class="prj-title">智能终端安全评测系统</h3>
					<p class="prj-intro">该系统用于将终端开发的评测软件的结果上传至平台并进行数据分析，支持android和ios。项目中主要工作：服务器端（java&servlet）及web页面呈现</p>
					</div>
				</li>
				<li class="prj" id="prj-integralSystem">
			<div class="confi">
					<h3 class="prj-title">基于web的终端信息发布技术研究与应用验证</h3>
					<p class="prj-intro">本项目设计并实现了针对Android手机终端的信息发布与控制平台。其中，使用cordova(即phonegap，包装成手机apk形式的web应用)设计并实现终端信息平台软件，使得手机终端可以通过app发布信息至上述控制平台。除此之外，当该app运行于手机终端时，web控制平台可以访问、控制终端的相关资源（如响铃、地理位置信息等）项目职责:设计项目的整体架构，服务器端实现(tomcat&servlet)，网页端实现</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="block-prjEXP" id="block-prjEXP2">
		<div class="container">
			<div class="prjEXP-title">
				<h2>获奖及其他经历</h2>
			</div>
			<ul class="prjs">
				<li class="prj">
				<div class="confi">
					<h3 class="prj-title">学习奖学金</h3>
					<p class="prj-intro"> 本科四年、研究生两年一等学习奖学金</p>
					</div>
				</li>
     
				<li class="prj">
			<div class="confi">
					<h3 class="prj-title">MCM美国数学建模大赛</h3>
					<p class="prj-intro">2012年获美国大学生数学建模三等奖</p>
					</div>
				</li>

				<li class="prj">
				<div class="confi">
					<h3 class="prj-title">三好学生 优秀团员 社会实践 优秀研究生</h3>
					<p class="prj-intro">本科连续四年三好学生，大三大四优秀团员，2012年社会实践奖学金及首都社会实践优秀个人奖，优秀研究生</p>
					</div>
				</li>
				<li class="prj">
				<div class="confi">
					<h3 class="prj-title">微联杯竞赛</h3>
					<p class="prj-intro">2012年微联杯竞赛获自然科学论文类三等奖</p>
					</div>
				</li>
				<li class="prj">
				<div class="confi">
					<h3 class="prj-title">大学生创新实践</h3>
					<p class="prj-intro">2012年北京市大学生创新实践项目市级良好（基于RFID的智能交通疏导系统）</p>
					</div>
				</li>
				<li class="prj">
			<div class="confi">
					<h3 class="prj-title">艺术</h3>
					<p class="prj-intro">全国青年歌手电视大奖赛（合唱）优秀奖;
					声乐八级;
					大型音乐史诗长征组歌主唱;
					连续四年文艺奖学金获得者;</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section id="block-wantMore">
		<p>快把我收了吧~求技术讨论<br>
		<a href="mailto:lun2baobao@bupt.edu.cn" hideFocus="true">lun2baobao@bupt.edu.cn</a>
		</p>
		<p>13371666826</p>
		<p>如需电子版简历，请狠戳上方导航栏的word简历下载</p>
	</section>

</body>
</html>

